<html>
    <head>
        <title>FITHUB</title>
    </head>
    <body>
        <h1>FITHUB Usuarios</h1>
        <hr>
        <p><a href="/m_usuarios_nuevo">Nuevo Usuario</a></p>
        <table border=1>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th colspan=2>ACCIONES</th>
            </tr>
            <% records.forEach( function(usuario) { %>
                <tr>
                    <td><%= usuario._id %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.email %></td>
                    <td><a href="/m_usuarios_editar/<%= usuario._id %>">Editar</a></td>
                    <td><a href="/m_usuarios_eliminar/<%= usuario._id %>">Eliminar</a></td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>